@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: theme('colors.green.100');
  --color-primary-200: theme('colors.green.200');
  --color-primary-300: theme('colors.green.300');
  --color-primary-400: theme('colors.green.400');
  --color-primary-500: theme('colors.green.500');
  --color-primary-600: theme('colors.green.600');
  --color-primary-700: theme('colors.green.700');
  --color-primary-800: theme('colors.green.800');
  --color-primary-900: theme('colors.green.900');

  --color-neutral-100: theme('colors.gray.100');
  --color-neutral-200: theme('colors.gray.200');
  --color-neutral-300: theme('colors.gray.300');
  --color-neutral-400: theme('colors.gray.400');
  --color-neutral-500: theme('colors.gray.500');
  --color-neutral-600: theme('colors.gray.600');
  --color-neutral-700: theme('colors.gray.700');
  --color-neutral-800: theme('colors.gray.800');
  --color-neutral-900: theme('colors.gray.900');
}

:root {
  --color-primary: var(--color-neutral-900);
  --color-secondary: var(--color-neutral-700);
  --color-accent: var(--color-primary-300);
  --color-primaryBg: var(--color-neutral-100);
  --color-secondaryBg: #131947;
  --color-onSecondaryBg: var(--color-neutral-300);
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-300);
  --color-accent: var(--color-primary-400);
  --color-primaryBg: #080a1a;
  --color-secondaryBg: #131947;
  --color-onSecondaryBg: var(--color-neutral-300);
}

.container {
  @apply mx-auto sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg;
}

.transition-colors-300 {
  @apply transition-colors duration-300 ease-in-out;
}
